:root {
    --root-color:rgb(168, 103, 2);
}

html {
    scroll-behavior: smooth;
}

.img-wrap{
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    background-color: #00acc1;
}

.img-wrap img{
    width: 100%;
}
